body {
  background-color: #F9F7F7;
}

h1 {
  font: 35px "Hiragino Sans";
}

p{
  text-align: left;
  font: 20px "Hiragino Sans";
}

h3 {
  font: 25px "Hiragino Sans";
  text-align: center;
}

.center-block {
  margin: auto;
  display: block;
}

button {
  background-color: #062034;
  color: white;
  font: 12px "Hiragino Sans";
  padding: 15px 25px;
}

input {
  width: 40%;
  height: 20px;
  font: "Hiragino Sans";
}

::placeholder {
  text-align: center;
}
