body {
  background-color: white;
}

h1 {
  font: 30px "Hiragino Sans";
  text-align: center;
  color: #062034;
}

h3 {
  font: 25px "Hiragino Sans";
  text-align: center;
  color: #062034;
}

.SearchBoxes {
  text-align: center;
}

.submitButton {
  text-align: center;
}

button {
  text-align: center;
  background-color: #062034;
  color: white;
  font: 12px "Hiragino Sans";
  padding: 15px 32px;
}

input {
  width: 300px;
  height: 20px;
  font: "Hiragino Sans";
}

::placeholder {
  text-align: center;
}

.deckName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.cardInput {
  display: flex;
  justify-content: center;
}

/* new shit */
.createDeckContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deckNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsContainer {
  width: 60%;
  height: 400px;
  background-color: beige;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.cardListElement {
  font-size: 16px;
  margin: inherit;
}
