.centerLandingScreen {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #062034;
  color: white;
  font: 12px "Hiragino Sans";
  padding: 15px 25px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

}

h1 {
  font: 30px "Hiragino Sans";
  color: #062034;
}

h3 {
  font: 25px "Hiragino Sans";
  color: #062034;
}

input {
  width: 50%;
  height: 20px;
  font: "Hiragino Sans";
}

::placeholder {
  text-align: center;
}

.loginElements{
  font: "Hiragino Sans";
}

